In [1]:
import pandas as pd

In [57]:
raw_data = pd.read_csv('classified_data.csv')

In [58]:
raw_data

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [4]:
raw_data.head(5)

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1

In [5]:
raw_data.tail(5)

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
995,995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [6]:
raw_data.columns

Index(['Unnamed: 0', 'WTT', 'PTI', 'EQW', 'SBI', 'LQE', 'QWG', 'FDJ', 'PJF',
       'HQE', 'NXJ', 'TARGET CLASS'],
      dtype='object')

In [7]:
raw_data.shape

(1000, 12)

In [8]:
raw_data['WTT']

0      0.913917
1      0.635632
2      0.721360
3      1.234204
4      1.279491
         ...
995    1.010953
996    0.575529
997    1.135470
998    1.084894
999    0.837460
Name: WTT, Length: 1000, dtype: float64

In [10]:
raw_data[['PTI', 'EQW']]

          PTI       EQW
0    1.162073  0.567946
1    1.003722  0.535342
2    1.201493  0.921990
3    1.386726  0.653046
4    0.949750  0.627280
..        ...       ...
995  1.034006  0.853116
996  0.955786  0.941835
997  0.982462  0.781905
998  0.861769  0.407158
999  0.961184  0.417006

[1000 rows x 2 columns]

In [11]:
raw_data[2:6]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
2,2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
5,5,0.833928,1.523302,1.104743,1.021139,1.107377,1.010930,1.279538,1.280677,0.510350,1.528044,0

In [14]:
raw_data.loc[5:9, 'SBI':'NXJ']

        SBI       LQE       QWG       FDJ       PJF       HQE       NXJ
5  1.021139  1.107377  1.010930  1.279538  1.280677  0.510350  1.528044
6  0.286473  0.996440  0.428860  0.910805  0.755305  1.111800  1.110842
7  0.243860  0.943123  1.045131  1.146536  1.341886  1.225324  1.425784
8  0.337278  0.742215  1.072756  0.880300  1.312951  1.118165  1.225922
9  0.940862  1.430568  0.885876  1.205231  0.596858  1.542580  0.981879

In [15]:
raw_data.iloc[3:15, 2:5]

         PTI       EQW       SBI
3   1.386726  0.653046  0.825624
4   0.949750  0.627280  0.668976
5   1.523302  1.104743  1.021139
6   1.251761  1.074885  0.286473
7   1.088392  0.895343  0.243860
8   1.463812  0.783825  0.337278
9   0.515111  0.891596  0.940862
10  1.331018  0.618910  0.657017
11  1.414885  0.896798  0.629088
12  1.254723  0.998870  0.397701
13  1.318987  0.562921  0.905503
14  0.936390  0.696960  0.972440

In [17]:
raw_data[raw_data['SBI'] >= 1.5]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
236,236,0.581659,1.059318,0.906429,1.634884,1.169260,1.380750,1.133712,1.026216,0.842951,1.439077,0
593,593,0.879243,0.782903,0.429592,1.529917,0.944852,0.929111,1.500186,1.071709,1.131308,1.226876,1

In [19]:
raw_data[raw_data['SBI'] != 0][4:9]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
5,5,0.833928,1.523302,1.104743,1.021139,1.107377,1.010930,1.279538,1.280677,0.510350,1.528044,0
6,6,0.944705,1.251761,1.074885,0.286473,0.996440,0.428860,0.910805,0.755305,1.111800,1.110842,0
7,7,0.816174,1.088392,0.895343,0.243860,0.943123,1.045131,1.146536,1.341886,1.225324,1.425784,0
8,8,0.776551,1.463812,0.783825,0.337278,0.742215,1.072756,0.880300,1.312951,1.118165,1.225922,0

In [21]:
raw_data[raw_data['LQE'] <= 1][0:9]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
6,6,0.944705,1.251761,1.074885,0.286473,0.996440,0.428860,0.910805,0.755305,1.111800,1.110842,0
7,7,0.816174,1.088392,0.895343,0.243860,0.943123,1.045131,1.146536,1.341886,1.225324,1.425784,0
8,8,0.776551,1.463812,0.783825,0.337278,0.742215,1.072756,0.880300,1.312951,1.118165,1.225922,0
14,14,0.801268,0.936390,0.696960,0.972440,0.851299,1.443119,1.194476,1.641496,1.118737,1.426573,0
15,15,1.061691,1.044892,0.599729,0.465285,0.930288,0.974341,1.213450,1.247551,1.217625,1.623154,1
21,21,0.612488,1.338981,1.072606,0.799193,0.722667,1.139863,0.952153,1.741919,1.021007,1.199203,0
22,22,0.661652,0.603561,0.884153,0.484525,0.832281,1.094654,1.156142,1.351979,0.843353,1.489208,0

In [24]:
raw_data[(raw_data['WTT'] > 0.6) & (raw_data['WTT'] < 0.8)][50:65]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
231,231,0.717183,1.448112,1.033205,0.572908,1.083740,1.250672,1.034867,0.937246,0.836378,1.658730,0
233,233,0.693117,1.076988,0.844213,0.677425,1.172074,0.733017,0.628439,1.699187,1.026966,1.207450,0
237,237,0.719927,1.297496,0.652491,0.819744,1.068468,1.063775,1.213544,1.483028,0.515961,1.397285,0
238,238,0.764973,0.719466,0.408416,0.885794,0.697333,0.760330,0.854427,0.688405,1.101196,1.474843,1
243,243,0.689181,1.142918,0.899498,0.606280,1.092050,0.890176,0.296317,1.145897,0.908614,1.415342,0
244,244,0.790756,1.180977,0.651250,0.627200,1.339797,1.014173,1.086288,1.049444,1.513455,1.523133,1
245,245,0.673468,1.170471,1.158997,0.941978,1.253612,1.049062,1.148400,0.922982,0.872577,1.851324,0
248,248,0.665162,0.903949,0.436144,1.012336,0.699909,0.584363,0.898953,0.830254,1.363362,1.355959,1
252,252,0.745424,0.832818,0.606680,0.753371,0.703378,0.566546,0.968677,0.944525,1.315448,1.558822,1
260,260,0.782230,1.417946,0.723030,0.640035,1.181420,0.784034,1.134586,1.380902,0.982635,1.573197,0
268,268,0.755057,1.744868,0.885634,0.945870,1.221388,1.108729,1.235671,1.469344,1.141306,0.888030,0
275,275,0.603021,0.843335,0.334001,0.657344,0.724852,0.929037,1.138354,0.984161,1.391787,1.057129,1
287,287,0.620199,1.323269,0.863397,0.477057,1.105846,0.910544,1.097531,1.033224,0.703237,1.584147,0
290,290,0.699037,1.004817,0.805364,0.599895,1.010237,0.573468,1.204036,0.866391,0.742420,1.635270,0
292,292,0.657982,1.327151,1.028075,1.076391,0.866802,1.431583,0.768163,1.537844,1.114040,1.457533,0

In [26]:
raw_data[(raw_data['TARGET CLASS'] >= 0.9) | (raw_data['FDJ'] < 0.5)]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
9,9,0.772280,0.515111,0.891596,0.940862,1.430568,0.885876,1.205231,0.596858,1.542580,0.981879,1
10,10,1.284999,1.331018,0.618910,0.657017,1.037191,0.717346,0.778501,0.599317,1.245676,1.441695,1
...,...,...,...,...,...,...,...,...,...,...,...,...
994,994,1.212650,0.839062,0.456012,0.773420,1.091210,0.794378,0.736621,1.162377,1.512756,1.415168,1
995,995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
997,997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [30]:
raw_data[~(raw_data['QWG'] > 0.3)]

,Unnamed: 0,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
855,855,1.230199,0.983501,0.706559,0.857323,1.104094,0.262389,0.81347,0.824307,1.439552,1.162783,1

In [41]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    1000 non-null   int64
 1   WTT           1000 non-null   float64
 2   PTI           1000 non-null   float64
 3   EQW           1000 non-null   float64
 4   SBI           1000 non-null   float64
 5   LQE           1000 non-null   float64
 6   QWG           1000 non-null   float64
 7   FDJ           1000 non-null   float64
 8   PJF           1000 non-null   float64
 9   HQE           1000 non-null   float64
 10  NXJ           1000 non-null   float64
 11  TARGET CLASS  1000 non-null   int64
dtypes: float64(10), int64(2)
memory usage: 93.9 KB

In [42]:
raw_data.columns

Index(['Unnamed: 0', 'WTT', 'PTI', 'EQW', 'SBI', 'LQE', 'QWG', 'FDJ', 'PJF',
       'HQE', 'NXJ', 'TARGET CLASS'],
      dtype='object')

In [60]:
raw_data.rename(columns={'TARGET CLASS': 'TARGET_CLASS', 'Unnamed: 0': 'Sr_no'}, inplace=True)
raw_data

,Sr_no,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET_CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [61]:
raw_data.drop(columns=['Sr_no'], inplace=True)
raw_data

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET_CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,1.234204,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,1.279491,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
...,...,...,...,...,...,...,...,...,...,...,...
995,1.010953,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,0.575529,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,1.135470,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,1.084894,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,0.837460,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [52]:
raw_data.drop(columns=['Sr_no', 'WTT'])

,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET_CLASS
0,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0
3,1.386726,0.653046,0.825624,1.142504,0.875128,1.409708,1.380003,1.522692,1.153093,1
4,0.949750,0.627280,0.668976,1.232537,0.703727,1.115596,0.646691,1.463812,1.419167,1
...,...,...,...,...,...,...,...,...,...,...
995,1.034006,0.853116,0.622460,1.036610,0.586240,0.746811,0.319752,1.117340,1.348517,1
996,0.955786,0.941835,0.792882,1.414277,1.269540,1.055928,0.713193,0.958684,1.663489,0
997,0.982462,0.781905,0.916738,0.901031,0.884738,0.386802,0.389584,0.919191,1.385504,1
998,0.861769,0.407158,0.665696,1.608612,0.943859,0.855806,1.061338,1.277456,1.188063,1
999,0.961184,0.417006,0.799784,0.934399,0.424762,0.778234,0.907962,1.257190,1.364837,1

In [53]:
 raw_data.sort_values(by='TARGET_CLASS', ascending = False)

,Sr_no,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET_CLASS
0,0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
547,547,1.251238,0.724679,0.661735,0.524658,0.763153,1.109170,1.178500,1.003483,0.949825,1.646760,1
556,556,0.950636,0.980417,0.570243,0.965252,0.621909,1.057732,0.921973,0.526893,1.420366,1.508301,1
558,558,1.351422,0.965707,0.859995,0.479693,0.814555,1.125409,0.746923,0.868153,1.304960,1.600381,1
560,560,1.354911,0.738899,0.529188,0.472763,0.812784,0.963060,0.884163,1.263143,0.922475,1.425598,1
...,...,...,...,...,...,...,...,...,...,...,...,...
190,190,0.933011,1.435871,0.787404,0.754450,1.158672,0.765657,0.709751,1.446297,0.754261,1.525481,0
644,644,0.454156,0.994547,0.727700,0.789934,1.101200,1.419805,0.900950,1.232038,0.942507,1.574729,0
643,643,0.573081,1.378656,0.786182,0.371879,1.059752,0.957701,1.105175,1.342434,0.905766,1.302562,0
191,191,0.781774,0.982456,0.821960,0.507397,0.826635,0.830462,0.928492,1.044832,0.834877,1.764543,0
667,667,0.663911,1.356086,0.884280,0.569165,1.080950,1.522615,0.840452,1.309718,0.970731,1.399149,0

In [62]:
raw_data.describe()

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET_CLASS
count,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.00000
mean,0.949682,1.114303,0.834127,0.682099,1.032336,0.943534,0.963422,1.071960,1.158251,1.362725,0.50000
std,0.289635,0.257085,0.291554,0.229645,0.243413,0.256121,0.255118,0.288982,0.293738,0.204225,0.50025
min,0.174412,0.441398,0.170924,0.045027,0.315307,0.262389,0.295228,0.299476,0.365157,0.639693,0.00000
25%,0.742358,0.942071,0.615451,0.515010,0.870855,0.761064,0.784407,0.866306,0.934340,1.222623,0.00000
50%,0.940475,1.118486,0.813264,0.676835,1.035824,0.941502,0.945333,1.065500,1.165556,1.375368,0.50000
75%,1.163295,1.307904,1.028340,0.834317,1.198270,1.123060,1.134852,1.283156,1.383173,1.504832,1.00000
max,1.721779,1.833757,1.722725,1.634884,1.650050,1.666902,1.713342,1.785420,1.885690,1.893950,1.00000

In [64]:
raw_data['PTI'].sort_values(ascending=False)

529    1.833757
612    1.803524
700    1.752339
268    1.744868
213    1.741634
         ...
674    0.465342
874    0.465264
125    0.457413
517    0.444998
767    0.441398
Name: PTI, Length: 1000, dtype: float64

In [71]:
raw_data[raw_data['TARGET_CLASS'] == 0.7].count()

WTT             0
PTI             0
EQW             0
SBI             0
LQE             0
QWG             0
FDJ             0
PJF             0
HQE             0
NXJ             0
TARGET_CLASS    0
dtype: int64

In [72]:
raw_data['QWG'].max()

1.6669023520657231

In [73]:
raw_data['PTI'].min()

0.441398100295989

In [74]:
raw_data['SBI'].mean()

0.6820993715302579

In [75]:
raw_data['FDJ'].value_counts()

FDJ
0.759697    1
0.858715    1
0.914932    1
0.594838    1
0.502487    1
           ..
0.988786    1
0.745114    1
0.884537    1
0.986139    1
0.778234    1
Name: count, Length: 1000, dtype: int64